{{ 'new_product.css' | asset_url | stylesheet_tag }}


  <div class="col-lg-3">
    <div class="card_product">
      <div class="card_product_image">
        {% if card_product.featured_media != blank %}
          <img src="{{ card_product.featured_media | image_url}}">
        {% else %}
          <img src="{{ images['men-collection.jpg'] | image_url}}">
        {% endif %}
      </div>
      <div class="card_product_content">
        
          {% if card_product.title != blank %}
            <h2>{{ card_product.title }}</h2>
            <p>{{ card_product.description }}</p>
            <p>{{ card_product.price }}</p>
            
            {% else %}
            <h2>lengendary</h2>
            <p>Legendary Whitetails Men's Shotgun Western Long Sleeve Shirt</p>
            <p class="product_price">$49.5</p>
            
          {% endif %}
        
        <a href="#" class="product_btn"> explore now</a>

      </div>
    </div>
  </div>
 

